






:root {
    --cor1:  #c5ebd6;
    --cor2: #83e1ad;
    --cor3: #3ddc84;
    --cor4:#2fa866;
    --cor5:#063d1e;

    --fontes-padrão: arial, verdana, helvetica,sans-serif;
    --fontes-destaque:'Bebas Neue', cursive; 
    --fonte-android: 'android',cursive;


}